<div id="main">
    <div id="heading">
        <h1>Chug Yer Potions</h1>
        <br>
        <h3>Click on a potion to chug it or summon a new one!</h3>
    </div>


    <div id="container-left">
        <ul>
            {{#each potion}}
            {{#unless devoured}}
            <li>
                <p class="devour" data-id="{{this.id}}">{{this.potion_name}}
                    {{!-- <button>Chug it!</button> --}}
                </p>

            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div id="container-right">
        <ul>
            {{#each potion}}
            {{#if devoured}}
            <li>
                <p class="devoured">{{this.potion_name}}</p>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>

    <div id="summon-form">
        <h2>Summon a potion:</h2>
        <form>
            <div class="form-group">
                {{!-- <label for="form-input"></label> --}}
                <input type="text" id="form-input">
            </div>

            <button id="post-form" type="submit">Summon</button>
        </form>
    </div>

</div>