h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    /* font-style: italic; */
}

html, body {
    font-family: 'Poiret One', cursive;
    color: #ffffff;
    background: #ceb6e6;
    background-image: url(../img/potion-v1.jpg);
    background-position: center center;
    background-size: 850px;
    background-repeat: no-repeat;
    height: 100%;
}

#main {
    max-width: 65%;
    padding: 20px;
    margin: 0 auto;
}

#heading {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 160px;
}

#container-left {
    float: left;
}

#container-right {
    float: right;
}

.devour {
    text-align: center;
    background: #e1bbdf;
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
    left: 0px;
    box-shadow: 1px 1px 4px #b6a0cc;
    cursor: pointer;
    transition: left .3s ease;
}

.devour:hover {
    position: relative;
    left: 20px;
}

.devoured {
    text-align: center;
    background: #fcd4f6;
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
    left: 0px;
}

#summon-form {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}

input {
    text-align: center;
    font-size: 16px;
}

#form-input {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
    width: 300px;
}

#post-form{
    font-family: 'Poiret One', cursive;
    color: #e1bbdf;
    margin: auto;
    padding: 10px;
    width: 300px;
    background: #ffffff;
    border: none;
    cursor: pointer;
}

#post-form:hover {
    color: #ffffff;
    background: #e1bbdf;
}

/* FONT BANK

font-family: 'Poiret One', cursive;

*/