h1 {
    font-size: 42px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    /* font-style: italic; */
}

html, body {
    font-family: 'Poiret One', cursive;
    color: #ffffff;
    background: #ceb6e6;
    background-image: url(../img/potion-v3.jpg);
    background-position: center center;
    background-size: 850px;
    background-repeat: no-repeat;
    height: 100%;
}

#main {
    max-width: 65%;
    padding: 20px;
    margin: 0 auto;
}

#heading {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 160px;
}

#container-left {
    float: left;
}

#container-right {
    float: right;
}

.devour {
    text-align: center;
    /* background: #886198; */
    /* background: #e1bbdf;
    background: #a79bc5; */
    background: #6e4584;
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
    position: relative;
    left: 0px;
    box-shadow: 1px 1px 3px #a48abe;
    cursor: pointer;
    transition: 0.3s ease;
}

.devour:hover {
    position: relative;
    background: #886198;
    left: 10px;
}

.devoured {
    text-align: center;
    background: #e1bbdf;
    background: #fcd4f6;
    background: #e6ccf0;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px #c7a9e4;
    width: 200px;
    left: 0px;
    text-decoration: line-through;
}

#summon-form {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}

input {
    text-align: center;
    font-size: 16px;
}

#form-input {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
    width: 300px;
}

#post-form{
    font-family: 'Poiret One', cursive;
    color: #6e4584;
    margin: auto;
    padding: 8px;
    width: 120px;
    background: #ffffff;
    border: none;
    cursor: pointer;
    transition: .3s ease;
}

#post-form:hover {
    color: #ffffff;
    background:#6e4584;
    width: 130px;
}

/* FONT BANK

font-family: 'Poiret One', cursive;

*/